
<h1>Add a Quote</h1>
<form #formData = "ngForm" (submit)="onSubmit()">
    <textarea cols="30" rows="10" name="content" required minlength="10" [(ngModel)]="quote.content" #content = "ngModel"></textarea>
    {{content.errors | json}} <br>

    <input type="text" name="author" required minlength="4" [(ngModel)]="quote.author" #author = "ngModel">
    {{author.errors | json}} <br>

    <input type="submit" [disabled]="!formData.valid" value="Add Quote">
</form>
<app-quotelist [quoteinfo] = "quotes" (update) = "updeateinfo($event)"></app-quotelist>